# Install the modules as defined in setup.py to make them available on the PYTHONPATH

emissor
cltl.emissor-data[service,client] @ git+https://github.com/leolani/cltl-emissor-data@683945eabbda5d320cf15ce25831ad7349416e27
cltl.combot[service] @ git+https://github.com/leolani/cltl-combot@43aabf42f69b8e8d1952971cba1d95231ec73cea
cltl.chat-ui[service] @ git+https://github.com/leolani/cltl-chat-ui@705beeb8911c82c0d562d9b93e6d0d47eb008157
cltl.llm[service] @ git+https://github.com/leolani/cltl-llm
flask
werkzeug
openai
ollama
langchain.ollama
