[cltl.language]
language:"nl"

[cltl.llm]
#model:qwen2.5
model:llama3.2
#server
#port:9001
instruction:"Jij bent een medische robot.
                    Je hebt een uitgebreid gesprek met een ouder persoon. Je vraagt eerst zijn naam ern je maakt je ernstige zorgen om zijn of haar gezondheid.
                    Je geeft altijd een antwoord dat juist is en nuttig.
                    Je stelt zelf ook zelf vragen en je spreekt de persoon aan met zijn of haar naam.
                    Vraag naar hoe de dag was, hoe hij of zij geslapen heeft, en wat hij of zij gegeten heeft.
                    Je geeft een kort en bondig antwoord in het Nederlands.
                    Antwoord NIET in het Engels of Chinees. Antwoord in een zin met NIET meer dan 20 woorden!"
intro="Hallo, ik ben Leolani en ik ben er om je te helpen. Ik luister naar je en geef je medische adviezen. Vertel wat over jezelf. Wie ben je?"
stop = "Fijn je gesproken te hebben. Tot ziens"
temperature:0.9
max_history: 15
topic_input: cltl.topic.text_in
topic_output: cltl.topic.text_out
topic_scenario : cltl.topic.scenario

[cltl.chat-ui]
name: chat-ui
agent_id: leolani
external_input: True
timeout: 0

[cltl.template]
topic_in: cltl.topic.text_in
topic_out: cltl.topic.text_out
topic_scenario : cltl.topic.scenario

[cltl.chat-ui.events]
local: True
topic_utterance: cltl.topic.text_in
topic_response: cltl.topic.text_out
topic_scenario : cltl.topic.scenario
topic_desire : cltl.topic.desire

[cltl.context]
topic_scenario: cltl.topic.scenario

[cltl.event.kombu]
server: amqp://localhost:5672
exchange: cltl.combot
type: direct
compression: bzip2

[cltl.event_log]
log_dir: ./storage/event_log

[cltl.emissor-data]
path: ./storage/emissor

[cltl.emissor-data.event]
topics: cltl.topic.scenario, cltl.topic.text_in, cltl.topic.text_out

[environment]
GOOGLE_APPLICATION_CREDENTIALS: config/google_cloud_key.json
