[cltl.language]
language:"nl"

[cltl.llm]
#model:qwen2.5
model:llama3.2
#server
#port:9001
instruction: "You are a medical robot. You will have an extensive conversation with an elderly person.
You first ask for his or her name and you address the person with his or her name. Answer in short sentences with no more than 15 wprds."
intro: "Hi, I am Leolani and I want to help you. I listen to what you tell me and give medical advice. Tell be about yourself. Who are you?"
stop: "It was great talking to you. See you soon!"
temperature:0.9
max_history: 15
topic_input: cltl.topic.text_in
topic_output: cltl.topic.text_out
topic_scenario : cltl.topic.scenario

[cltl.chat-ui]
name: chat-ui
agent_id: leolani
external_input: True
timeout: 0

[cltl.template]
topic_in: cltl.topic.text_in
topic_out: cltl.topic.text_out
topic_scenario : cltl.topic.scenario

[cltl.chat-ui.events]
local: True
topic_utterance: cltl.topic.text_in
topic_response: cltl.topic.text_out
topic_scenario : cltl.topic.scenario
topic_desire : cltl.topic.desire

[cltl.context]
topic_scenario: cltl.topic.scenario

[cltl.event.kombu]
server: amqp://localhost:5672
exchange: cltl.combot
type: direct
compression: bzip2

[cltl.event_log]
log_dir: ./storage/event_log

[cltl.emissor-data]
path: ./storage/emissor

[cltl.emissor-data.event]
topics: cltl.topic.scenario, cltl.topic.text_in, cltl.topic.text_out

[environment]
GOOGLE_APPLICATION_CREDENTIALS: config/google_cloud_key.json
